Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'

fix: Localization adding script
  chameleonultragui/lib/l10n/updateCrowdin.py
Labels: none

feat: Recover first key for cards with backdoor
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/helpers/mifare_classic/general.dart
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
  chameleonultragui/pubspec.lock
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: translation changes

feat: HID Prox support (#628)
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/component/card_list.dart
  chameleonultragui/lib/gui/menu/card_create.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/card_view.dart
  chameleonultragui/lib/gui/menu/slot_edit.dart
  chameleonultragui/lib/gui/menu/slot_export.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/mifare_classic/general.dart
  chameleonultragui/lib/helpers/mifare_classic/write/base.dart
  chameleonultragui/lib/helpers/t55xx/write/base.dart
  chameleonultragui/lib/helpers/write.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: translation changes

fix iOS build workflow
  .github/workflows/publish-app.yml
Labels: none

fix: Fix saving UID only for Mifare Ultralight (#644)
  .github/workflows/publish-app.yml
  chameleonultragui/lib/gui/menu/card_view.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/pubspec.lock
Labels: none

feat: Recover first key for cards with backdoor (#650)
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/helpers/mifare_classic/general.dart
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
  chameleonultragui/lib/l10n/updateCrowdin.py
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: translation changes

feat: Update translations (#657)
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: translation changes

fix: T55XX writing page error
  chameleonultragui/l10n.yaml
  chameleonultragui/lib/helpers/t55xx/write/base.dart
  chameleonultragui/pubspec.lock
Labels: none

fix: Fix override unknown type
  chameleonultragui/lib/gui/page/read_card.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
Labels: none

Implement folder system for dictionaries with full UI/UX parity and independent filters
  chameleonultragui/lib/gui/component/card_list.dart
  chameleonultragui/lib/gui/menu/card_create.dart
  chameleonultragui/lib/gui/menu/dictionary_edit.dart
  chameleonultragui/lib/gui/menu/dictionary_folder_management.dart
  chameleonultragui/lib/gui/menu/folder_management.dart
  chameleonultragui/lib/gui/menu/move_card_to_folder.dart
  chameleonultragui/lib/gui/menu/move_dictionary_to_folder.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/helpers/folder_utils.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: translation changes

add localizations
  chameleonultragui/lib/gui/menu/dictionary_folder_management.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/helpers/folder_utils.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

Web, part 1
  chameleonultragui/lib/bridge/dfu.dart
  chameleonultragui/lib/connector/serial_abstract.dart
  chameleonultragui/lib/connector/serial_android.dart
  chameleonultragui/lib/connector/serial_android_serial.dart
  chameleonultragui/lib/connector/serial_ble.dart
  chameleonultragui/lib/connector/serial_emulator.dart
  chameleonultragui/lib/connector/serial_macos.dart
  chameleonultragui/lib/connector/serial_native.dart
  chameleonultragui/lib/connector/serial_stub.dart
  chameleonultragui/lib/connector/serial_web.dart
  chameleonultragui/lib/gui/menu/chameleon_settings.dart
  chameleonultragui/lib/gui/menu/mfkey32.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/helpers/flash.dart
  chameleonultragui/lib/helpers/github.dart
  chameleonultragui/lib/main.dart
  chameleonultragui/lib/recovery/definitions.dart
  chameleonultragui/lib/recovery/recovery.dart
  chameleonultragui/lib/recovery/recovery_ffi.dart
  chameleonultragui/lib/recovery/recovery_stub.dart
  chameleonultragui/lib/recovery/recovery_web.dart
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
  chameleonultragui/web/index.html
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
Labels: none

feat: Update translations (#665)
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_de.arb
Labels: none

fix: T55XX writing page error (#659)
  chameleonultragui/l10n.yaml
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/helpers/t55xx/write/base.dart
  chameleonultragui/pubspec.lock
Labels: none

feat: Bump required capabilities
  chameleonultragui/lib/gui/page/home.dart
Labels: none

feat: Mifare Ultralight key logger from reader (#645)
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/slot_edit.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: 1.3 release
  .github/workflows/publish-app.yml
  chameleonultragui/pubspec.yaml
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
Labels: translation changes

feat: .rfid file parser
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/helpers/cardsave_converters.dart
Labels: none

feat: Update translations (#667)
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
Labels: translation changes

fix: we can only parse that type
  chameleonultragui/lib/helpers/cardsave_converters.dart
Labels: none

fix: hid wants to be special
  chameleonultragui/lib/helpers/cardsave_converters.dart
Labels: none

fix: Some fixes
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/helpers/cardsave_converters.dart
Labels: none

fix: Just to be extra sure
  chameleonultragui/lib/gui/page/saved_cards.dart
Labels: none

feat: Flipper Zero RFID file parser (#668)
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/helpers/cardsave_converters.dart
Labels: none

feat: Don't use nightly.link for links, we have automated releases
  README.md
  docs/README.md
Labels: documentation

fix: Change iOS to macOS 14 for now
  .github/workflows/publish-app.yml
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_nl.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: none

fix: Mifare Ultralight writing
  chameleonultragui/lib/helpers/mifare_ultralight/write/base.dart
Labels: none
