Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

Gave it a try for a nested json.
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: none

qr code generation
  chameleonultragui/lib/gui/component/qrcode_viewer.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

could work
  chameleonultragui/ios/Runner/Info.plist
  chameleonultragui/lib/gui/component/qrcode_scanner.dart
  chameleonultragui/lib/gui/component/qrcode_viewer.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/macos/Flutter/GeneratedPluginRegistrant.swift
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

what the actual f*?
  chameleonultragui/lib/gui/component/qrcode_scanner.dart
  chameleonultragui/lib/gui/menu/qrcode_import.dart
  chameleonultragui/lib/gui/page/settings.dart
Labels: none

uhhhhhhhhh
  chameleonultragui/lib/gui/component/qrcode_scanner.dart
  chameleonultragui/lib/gui/menu/qrcode_import.dart
  chameleonultragui/lib/gui/page/settings.dart
Labels: none

uhhhhhh
  chameleonultragui/lib/gui/component/qrcode_scanner.dart
  chameleonultragui/lib/gui/menu/qrcode_import.dart
Labels: none

and i am an idiot
  chameleonultragui/lib/gui/component/qrcode_scanner.dart
  chameleonultragui/lib/gui/menu/qrcode_import.dart
  chameleonultragui/lib/gui/page/settings.dart
Labels: none

success!
  chameleonultragui/lib/gui/component/qrcode_viewer.dart
  chameleonultragui/lib/gui/menu/qrcode_import.dart
  chameleonultragui/lib/gui/page/settings.dart
Labels: none

icons
  chameleonultragui/lib/gui/menu/qrcode_import.dart
  chameleonultragui/lib/gui/page/settings.dart
Labels: none

translations
  chameleonultragui/lib/gui/component/qrcode_scanner.dart
  chameleonultragui/lib/gui/component/qrcode_viewer.dart
  chameleonultragui/lib/gui/menu/qrcode_import.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/main.dart
Labels: translation changes

Update sharedprefsprovider.dart
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: none

fix settings scaling and add janky sliders
  chameleonultragui/lib/gui/menu/qrcode_settings.dart
  chameleonultragui/lib/gui/page/settings.dart
Labels: none

hint text; translation
  chameleonultragui/lib/gui/menu/qrcode_settings.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

fix: translation
  chameleonultragui/lib/gui/menu/qrcode_settings.dart
Labels: none

maybe updating deps fixes it...
  chameleonultragui/macos/Flutter/GeneratedPluginRegistrant.swift
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

It in fact did not fix fed up gh actions...
  chameleonultragui/macos/Flutter/GeneratedPluginRegistrant.swift
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

Fix windows build?
  chameleonultragui/src/CMakeLists.txt
Labels: none

Fix NSIS
  nsis-installer.nsi
Labels: none

Fix build workflow
  .github/workflows/build-app.yml
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

fix: Test Qr Code
  chameleonultragui/lib/gui/menu/qrcode_settings.dart
Labels: none

fix: eh, itll be fine...
  chameleonultragui/lib/gui/menu/qrcode_settings.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

fix: move debug and about to end of page again
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/pubspec.lock
  chameleonultragui/windows/flutter/CMakeLists.txt
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

Fixed edge case scaling issues for QR code
  chameleonultragui/lib/gui/menu/qrcode_settings.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_pl.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_pl.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations (#383)
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_pl.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
Labels: none

feat: Update translations (#386)
  chameleonultragui/lib/l10n/app_de.arb
Labels: none

12
  chameleonultragui/lib/helpers/mifare_classic/general.dart
  chameleonultragui/pubspec.lock
Labels: none

Removed some of the redundant descriptions
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

Removed empty title bar in Saved Cards completely
  chameleonultragui/lib/gui/page/saved_cards.dart
Labels: none

README modifications (Personal Roadmap)
  README.md
Labels: documentation

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'
