Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

fix: Mifare Ultralight writing (#693)
  chameleonultragui/lib/gui/component/mifare/ultralight.dart
  chameleonultragui/lib/gui/menu/card_create.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/helpers/mifare_ultralight/write/base.dart
Labels: none

feat: Update translations (#692)
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_nl.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

feat: file export
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/pubspec.lock
Labels: translation changes

feat: Debug log file export (#696)
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/pubspec.lock
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations (#698)
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_zh.arb
Labels: none

fix: flatpak package now builds from source
  chameleonultragui/flatpak/README.md
  chameleonultragui/flatpak/flatpak-flutter.yml
  chameleonultragui/flatpak/run.chameleon.chameleonultragui.metainfo.xml
  chameleonultragui/flatpak/run.chameleon.gui.yml
Labels: documentation

feat: Update translations
  chameleonultragui/lib/l10n/app_zh.arb
Labels: none

fix: flatpak package now builds from source (#701)
  chameleonultragui/flatpak/README.md
  chameleonultragui/flatpak/flatpak-flutter.yml
  chameleonultragui/flatpak/run.chameleon.chameleonultragui.metainfo.xml
  chameleonultragui/flatpak/run.chameleon.gui.yml
Labels: documentation

feat: Update translations (#700)
  chameleonultragui/lib/l10n/app_zh.arb
Labels: none

fix: Artifacts priority for version check
  chameleonultragui/lib/helpers/github.dart
  chameleonultragui/pubspec.lock
Labels: none

refactor: Separate definitions from bridge
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/component/card_list.dart
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/component/slot_changer.dart
  chameleonultragui/lib/gui/menu/card_create.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/card_view.dart
  chameleonultragui/lib/gui/menu/chameleon_settings.dart
  chameleonultragui/lib/gui/menu/slot_edit.dart
  chameleonultragui/lib/gui/menu/slot_export.dart
  chameleonultragui/lib/gui/menu/slot_settings.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/gui/page/write_card.dart
  chameleonultragui/lib/helpers/cardsave_converters.dart
  chameleonultragui/lib/helpers/definitions.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/mifare_classic/general.dart
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
  chameleonultragui/lib/helpers/mifare_classic/write/base.dart
  chameleonultragui/lib/helpers/mifare_classic/write/gen3.dart
  chameleonultragui/lib/helpers/mifare_ultralight/general.dart
  chameleonultragui/lib/helpers/t55xx/write/base.dart
  chameleonultragui/lib/helpers/write.dart
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: none

feat: Add keyLength to dictionary
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/menu/dictionary_edit.dart
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: none

fix: Limit nested recovery tries to 1 for static cards
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
Labels: none

feat: Show recovery state to user
  chameleonultragui/lib/gui/component/card_list.dart
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/write_card.dart
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
  chameleonultragui/lib/helpers/mifare_classic/write/base.dart
  chameleonultragui/lib/helpers/write.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

fix: Localizations
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

fix: Improve Mifare Classic EV1 recovery
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
Labels: none

doc: Add Flathub link
  README.md
Labels: documentation

doc: Add Flathub link (#703)
  README.md
Labels: documentation

feat(tool): Download external dictionaries
  chameleonultragui/lib/gui/menu/dictionary_download.dart
  chameleonultragui/lib/gui/menu/dictionary_edit.dart
  chameleonultragui/lib/gui/page/tools.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/main.dart
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: translation changes

Small refactor
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/menu/dialogs/card_create.dart
  chameleonultragui/lib/gui/menu/dialogs/card_edit.dart
  chameleonultragui/lib/gui/menu/dialogs/card_view.dart
  chameleonultragui/lib/gui/menu/dialogs/chameleon_settings.dart
  chameleonultragui/lib/gui/menu/dialogs/confirm_delete.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary_edit.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary_export.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary_view.dart
  chameleonultragui/lib/gui/menu/dialogs/manual_connect.dart
  chameleonultragui/lib/gui/menu/dialogs/qrcode_import.dart
  chameleonultragui/lib/gui/menu/dialogs/qrcode_settings.dart
  chameleonultragui/lib/gui/menu/dialogs/slot_edit.dart
  chameleonultragui/lib/gui/menu/dialogs/slot_export.dart
  chameleonultragui/lib/gui/menu/dialogs/slot_settings.dart
  chameleonultragui/lib/gui/menu/pages/changelog_view.dart
  chameleonultragui/lib/gui/menu/pages/dump_editor.dart
  chameleonultragui/lib/gui/menu/pages/logs_viewer.dart
  chameleonultragui/lib/gui/menu/pages/mfkey32.dart
  chameleonultragui/lib/gui/menu/tools/dictionary_download.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/gui/page/tools.dart
Labels: none

refactor
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/menu/dialogs/card/create.dart
  chameleonultragui/lib/gui/menu/dialogs/card/edit.dart
  chameleonultragui/lib/gui/menu/dialogs/card/view.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary/edit.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary/export.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary/view.dart
  chameleonultragui/lib/gui/menu/dialogs/qr/import.dart
  chameleonultragui/lib/gui/menu/dialogs/qr/settings.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/edit.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/export.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/settings.dart
  chameleonultragui/lib/gui/menu/pages/mfkey32.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
Labels: none

fix: Fetch from actions
  chameleonultragui/lib/helpers/flash.dart
Labels: none

fix: Fix T55XX writing for blank tags + missing viking support
  chameleonultragui/lib/helpers/t55xx/write/base.dart
  chameleonultragui/lib/helpers/write.dart
Labels: none

feat(tool): Download external dictionaries
  chameleonultragui/lib/gui/menu/dialogs/dictionary/view.dart
  chameleonultragui/lib/gui/menu/tools/t55xx_password_cleaner.dart
  chameleonultragui/lib/gui/page/tools.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
Labels: none

fix: Use B key
  chameleonultragui/lib/helpers/mifare_classic/write/gen2.dart
Labels: none

fix: Use color scheme
  chameleonultragui/lib/gui/page/tools.dart
Labels: none

fix: Dictionary size
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary/view.dart
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_es.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_es.arb
Labels: none

feat: Update translations (#707)
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_es.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

fix: Fix artifacts download
  chameleonultragui/lib/helpers/github.dart
Labels: none

fix: Card dump loading into emulator
  chameleonultragui/lib/gui/menu/dialogs/slot/export.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
Labels: none

fix: Improve version fetching from releases
  chameleonultragui/lib/helpers/github.dart
Labels: none

fix: Firmware update and card dump loading into emulator (#711)
  chameleonultragui/lib/gui/menu/dialogs/slot/export.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/github.dart
Labels: none

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'
