Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

feat: Update translations (#550)
  chameleonultragui/lib/l10n/app_el.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: Update translations (#551)
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: Update icons
  chameleonultragui/lib/gui/component/card_list.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/gui/page/write_card.dart
  chameleonultragui/lib/main.dart
Labels: none

feat: Update button style
  chameleonultragui/lib/gui/component/card_button.dart
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/component/mifare/ultralight.dart
  chameleonultragui/lib/gui/component/saved_card.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
Labels: none

feat: Switch to contactless_outlined icon
  chameleonultragui/lib/gui/component/card_list.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/gui/page/write_card.dart
Labels: none

build: Update dependencies
  chameleonultragui/.gitignore
  chameleonultragui/macos/Podfile.lock
  chameleonultragui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  chameleonultragui/macos/Runner/AppDelegate.swift
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

feat: change icon to system_update_alt
  chameleonultragui/lib/main.dart
Labels: none

fix: ref
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

feat: Update button style (#554)
  chameleonultragui/lib/gui/component/card_button.dart
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/component/mifare/ultralight.dart
  chameleonultragui/lib/gui/component/saved_card.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
Labels: none

update icons
  chameleonultragui/lib/gui/component/card_list.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/gui/page/write_card.dart
  chameleonultragui/lib/main.dart
Labels: none

feat: Update icons (#553)
  chameleonultragui/lib/main.dart
Labels: none

build: Update dependencies (#555)
  chameleonultragui/.gitignore
  chameleonultragui/macos/Podfile.lock
  chameleonultragui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  chameleonultragui/macos/Runner/AppDelegate.swift
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_tr.arb
Labels: none

feat: Update translations (#557)
  chameleonultragui/lib/l10n/app_tr.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_tr.arb
Labels: none

feat: Update translations (#558)
  chameleonultragui/lib/l10n/app_tr.arb
Labels: none

feat: update info
  README.md
  chameleonultragui/lib/helpers/github.dart
Labels: documentation

feat: Remove package:flutter_gen
  chameleonultragui/.gitignore
  chameleonultragui/l10n.yaml
  chameleonultragui/lib/gui/component/card_list.dart
  chameleonultragui/lib/gui/component/hex_editor.dart
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/component/mifare/ultralight.dart
  chameleonultragui/lib/gui/component/qrcode_scanner.dart
  chameleonultragui/lib/gui/component/qrcode_viewer.dart
  chameleonultragui/lib/gui/component/slot_changer.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/card_view.dart
  chameleonultragui/lib/gui/menu/chameleon_settings.dart
  chameleonultragui/lib/gui/menu/confirm_delete.dart
  chameleonultragui/lib/gui/menu/dictionary_edit.dart
  chameleonultragui/lib/gui/menu/dictionary_export.dart
  chameleonultragui/lib/gui/menu/dictionary_view.dart
  chameleonultragui/lib/gui/menu/qrcode_import.dart
  chameleonultragui/lib/gui/menu/qrcode_settings.dart
  chameleonultragui/lib/gui/menu/slot_edit.dart
  chameleonultragui/lib/gui/menu/slot_export.dart
  chameleonultragui/lib/gui/menu/slot_settings.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/flashing.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/mfkey32.dart
  chameleonultragui/lib/gui/page/pending_connection.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/gui/page/write_card.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/mifare_classic/write/base.dart
  chameleonultragui/lib/helpers/mifare_ultralight/write/base.dart
  chameleonultragui/lib/helpers/t55xx/write/base.dart
  chameleonultragui/lib/main.dart
  chameleonultragui/lib/sharedprefsprovider.dart
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

feat: Remove expired domain
  README.md
  docs/CNAME
  docs/README.md
Labels: documentation

feat: Clarify, apt or apt-get can't install .dpkg
  README.md
Labels: documentation

feat: Clarify, apt or apt-get can't install .dpkg
  README.md
Labels: documentation

fix: Fix Android calling checkPermissions multiple times at once
  chameleonultragui/lib/connector/serial_android.dart
  chameleonultragui/lib/helpers/general.dart
Labels: none

bump: 1.1.2 version
  chameleonultragui/pubspec.yaml
Labels: none

fix: Revert apt
  README.md
Labels: documentation

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_no.arb
Labels: none

feat: Update translations (#563)
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_no.arb
Labels: none

Add longpressthreshold setting
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/chameleon_settings.dart
Labels: none

feat: base structure?
  chameleonultragui/lib/gui/component/hex_editor.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/hex_edit.dart
Labels: none

feat: safeare and manually connect
  chameleonultragui/lib/gui/menu/manual_connect.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/main.dart
  chameleonultragui/pubspec.lock
Labels: translation changes

feat: hard nested attack
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/recovery/bindings.dart
  chameleonultragui/lib/recovery/recovery.dart
  chameleonultragui/src/CMakeLists.txt
  chameleonultragui/src/hardnested/cmdhfmfhard.c
  chameleonultragui/src/hardnested/cmdhfmfhard.h
  chameleonultragui/src/hardnested/hardnested/hardnested_benchmark_data.h
  chameleonultragui/src/hardnested/hardnested/hardnested_bf_core.c
  chameleonultragui/src/hardnested/hardnested/hardnested_bf_core.h
  chameleonultragui/src/hardnested/hardnested/hardnested_bitarray_core.c
  chameleonultragui/src/hardnested/hardnested/hardnested_bitarray_core.h
  chameleonultragui/src/hardnested/hardnested/hardnested_bruteforce.c
  chameleonultragui/src/hardnested/hardnested/hardnested_bruteforce.h
  chameleonultragui/src/hardnested/hardnested/tables.h
  chameleonultragui/src/hardnested/pm3/ansi.h
  chameleonultragui/src/hardnested/pm3/common.h
  chameleonultragui/src/hardnested/pm3/commonutil.c
  chameleonultragui/src/hardnested/pm3/commonutil.h
  chameleonultragui/src/hardnested/pm3/ui.c
  chameleonultragui/src/hardnested/pm3/ui.h
  chameleonultragui/src/hardnested/pm3/util.c
  chameleonultragui/src/hardnested/pm3/util.h
  chameleonultragui/src/hardnested/pm3/util_posix.c
  chameleonultragui/src/hardnested/pm3/util_posix.h
  chameleonultragui/src/recovery.c
  chameleonultragui/src/recovery.h
Labels: translation changes

feat: Show manual connect option only if supported by current connector
  chameleonultragui/lib/connector/serial_abstract.dart
  chameleonultragui/lib/connector/serial_android.dart
  chameleonultragui/lib/connector/serial_ble.dart
  chameleonultragui/lib/connector/serial_mobile.dart
  chameleonultragui/lib/connector/serial_native.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/pubspec.lock
Labels: none

feat: safearea and manually connect (#566)
  chameleonultragui/lib/connector/serial_abstract.dart
  chameleonultragui/lib/connector/serial_android.dart
  chameleonultragui/lib/connector/serial_ble.dart
  chameleonultragui/lib/connector/serial_mobile.dart
  chameleonultragui/lib/connector/serial_native.dart
  chameleonultragui/lib/gui/menu/manual_connect.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/main.dart
Labels: translation changes

fix: Add validation for SAK/ATQA fields, closes #562
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

bump: 1.2.0
  .github/workflows/publish-app.yml
  chameleonultragui/pubspec.yaml
Labels: none

fix: Probably fix macOS build
  .github/workflows/build-app.yml
  .github/workflows/publish-app.yml
Labels: none

feat: navigation?
  chameleonultragui/lib/gui/menu/hex_edit.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

Use fixed flutter_libserialport
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

fix: Bundle our own liblzma, fixes build for Android and macOS
  chameleonultragui/src/CMakeLists.txt
  chameleonultragui/src/hardnested.c
  chameleonultragui/src/hardnested.h
  chameleonultragui/src/hardnested/hardnested_benchmark_data.h
  chameleonultragui/src/hardnested/hardnested_bf_core.c
  chameleonultragui/src/hardnested/hardnested_bf_core.h
  chameleonultragui/src/hardnested/hardnested_bitarray_core.c
  chameleonultragui/src/hardnested/hardnested_bitarray_core.h
  chameleonultragui/src/hardnested/hardnested_bruteforce.c
  chameleonultragui/src/hardnested/hardnested_bruteforce.h
  chameleonultragui/src/hardnested/tables.h
  chameleonultragui/src/pm3/ansi.h
  chameleonultragui/src/pm3/common.h
  chameleonultragui/src/pm3/commonutil.c
  chameleonultragui/src/pm3/commonutil.h
  chameleonultragui/src/pm3/ui.c
  chameleonultragui/src/pm3/ui.h
  chameleonultragui/src/pm3/util.c
  chameleonultragui/src/pm3/util.h
  chameleonultragui/src/pm3/util_posix.c
  chameleonultragui/src/pm3/util_posix.h
  chameleonultragui/src/recovery.c
Labels: none

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'
