Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

+ worfklow changes
  .github/workflows/build-app.yml
Labels: none

Delete .github/workflows/publish-app.yml
  .github/workflows/publish-app.yml
Labels: none

Delete .github/workflows/add-crowdin-keys.yml
  .github/workflows/add-crowdin-keys.yml
Labels: none

Delete .github/workflows/update-translations.yml
  .github/workflows/update-translations.yml
Labels: none

Worfklow changes done1
  README.md
Labels: documentation

+ roadmap
  README.md
Labels: documentation

removed locales info
  README.md
Labels: documentation

Changed default values of SAK and ATQA to Mifare Classic 1k
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: none

Update Roadmap
  README.md
Labels: documentation

Delete SECURITY.md
  SECURITY.md
Labels: documentation

Delete CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

Removed title bars in all panels
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/flashing.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/mfkey32.dart
  chameleonultragui/lib/gui/page/pending_connection.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/gui/page/write_card.dart
Labels: none

Initial page is now the saved cards page when no device is connected
  chameleonultragui/lib/main.dart
Labels: none

Roadmap Update
  README.md
Labels: documentation

Changed default color + language
  README.md
  chameleonultragui/lib/gui/page/settings.dart
Labels: documentation

Further UI colors tweaks + disabled sidebar expansion
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: none

Merged the updated RichText editor for mifare
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/hex_edit.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: translation changes

Added ru + en color descriptions + always enabled dbg mode + complementary colors for purple and pink
  README.md
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: translation changes, documentation

Missing coma fix
  chameleonultragui/lib/l10n/app_ru.arb
Labels: none

Changed default locales to ru everywhere
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: none

Removed old hex editor + default page when device is connected is SlotManager, and SavedCards when it is not
  chameleonultragui/lib/gui/component/hex_editor.dart
  chameleonultragui/lib/main.dart
Labels: none

Added reconnect button on navbar and removed some redundant icons
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/main.dart
Labels: none

Fix? of some silly error about page assignement
  chameleonultragui/lib/main.dart
Labels: none

Fixed HomePage when no pending connection + reflect app change on reset
  chameleonultragui/lib/main.dart
Labels: none

Fixed typo in page
  chameleonultragui/lib/main.dart
Labels: none

No such icon, rly?
  chameleonultragui/lib/main.dart
Labels: none

Przez te ikony jestem wkurwiony
  chameleonultragui/lib/main.dart
Labels: none

...
  chameleonultragui/lib/main.dart
Labels: none

:')
  chameleonultragui/lib/main.dart
Labels: none

Nice
  chameleonultragui/lib/main.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_zh_TW.arb
Labels: none

feat: Update translations (#391)
  chameleonultragui/lib/l10n/app_zh_TW.arb
Labels: none

Minor additions and deletions
  README.md
  chameleonultragui/assets/devkit.webp
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/main.dart
Labels: documentation

Ah yes, no such icon :'>
  chameleonultragui/lib/main.dart
Labels: none

Added possibility to show all pages via settings for GUI debugging purposes when device is not connected
  README.md
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/main.dart
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: translation changes, documentation

Fix english locales
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

Yet another, this time within ru .arb
  chameleonultragui/lib/l10n/app_ru.arb
Labels: none

Stupid implementations and scopes require stupid solutions
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: none

So it seems that .getBool() isn't available even in main. This is insane, next commit will most likely export this method globally
  chameleonultragui/lib/main.dart
Labels: none

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'
