Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

feat: Update translations (#938)
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

fix: EM410x load-from-saved-card UID length
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/dialogs/card/create.dart
  chameleonultragui/lib/gui/menu/dialogs/card/edit.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/edit.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/card_save_converters.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/t55xx/write/base.dart
  chameleonultragui/test/em410x_uid_test.dart
Labels: none

fix: soft-fail keep-alive - retry before disconnect
  chameleonultragui/lib/helpers/connection_keepalive.dart
Labels: none

fix: keep BLE connection and device awake while app open
  chameleonultragui/android/app/src/main/AndroidManifest.xml
  chameleonultragui/lib/connector/serial_ble.dart
  chameleonultragui/lib/helpers/connection_keepalive.dart
  chameleonultragui/lib/main.dart
Labels: none

feat: T55xx reset tool to open config and clear password
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/tools/t55xx_reset.dart
  chameleonultragui/lib/gui/page/tools.dart
  chameleonultragui/lib/helpers/definitions.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations (#942)
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations (#943)
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations (#944)
  chameleonultragui/lib/l10n/app_it.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations (#945)
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ru.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_he.arb
  chameleonultragui/lib/l10n/app_th_TH.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_he.arb
  chameleonultragui/lib/l10n/app_th_TH.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_he.arb
  chameleonultragui/lib/l10n/app_th.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_he.arb
  chameleonultragui/lib/l10n/app_th.arb
Labels: none

feat(macos): add Icon Composer app icon
  chameleonultragui/macos/Runner.xcodeproj/project.pbxproj
  chameleonultragui/macos/Runner/AppIcon.icon/Assets/logo-color-desktop.png
  chameleonultragui/macos/Runner/AppIcon.icon/icon.json
  docs/assets/macos-app-icon-preview.png
Labels: none

feat: view dump button in its own row below save, with spacing
  chameleonultragui/lib/gui/component/mifare/classic.dart
Labels: none

fix: english-only l10n source + conditional spacing (review feedback)
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_cs.arb
  chameleonultragui/lib/l10n/app_da.arb
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_de_AT.arb
  chameleonultragui/lib/l10n/app_el.arb
  chameleonultragui/lib/l10n/app_el_GR.arb
  chameleonultragui/lib/l10n/app_es.arb
  chameleonultragui/lib/l10n/app_fr.arb
  chameleonultragui/lib/l10n/app_he.arb
  chameleonultragui/lib/l10n/app_it.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_nl.arb
  chameleonultragui/lib/l10n/app_no.arb
  chameleonultragui/lib/l10n/app_pl.arb
  chameleonultragui/lib/l10n/app_pt.arb
  chameleonultragui/lib/l10n/app_pt_BR.arb
  chameleonultragui/lib/l10n/app_ro.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_th.arb
  chameleonultragui/lib/l10n/app_tr.arb
  chameleonultragui/lib/l10n/app_uk.arb
  chameleonultragui/lib/l10n/app_zh.arb
  chameleonultragui/lib/l10n/app_zh_TW.arb
Labels: none

fix: move View dump into the save button group (review feedback)
  chameleonultragui/lib/gui/component/mifare/classic.dart
Labels: none

fix: add dump view to other cards too
  chameleonultragui/lib/gui/component/mifare/ultralight.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_th.arb
Labels: none

fix: prevent saved cards section header from wrapping
  chameleonultragui/lib/gui/page/saved_cards.dart
Labels: none

feat: adaptive navigation with bottom bar on compact widths
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/main.dart
Labels: translation changes

show device required in more sheet
  chameleonultragui/lib/main.dart
Labels: none

account for iOS/Android bottom inset when flasing in DFU mode
  chameleonultragui/lib/main.dart
Labels: none

align nav breakpoint to 700 to match content layout
  chameleonultragui/lib/main.dart
Labels: none

Use navigation page enum instead of int, remove default case error
  chameleonultragui/lib/main.dart
Labels: none

text already left aligned
  chameleonultragui/lib/gui/page/saved_cards.dart
Labels: none

clearer comment, private NavigationPage
  chameleonultragui/lib/main.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
Labels: none

fix: switch star history chart to a working source
  README.md
Labels: documentation

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'
