Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'

feat: Update translations (#330)
  chameleonultragui/lib/l10n/app_bg.arb
Labels: none

Use bot account
  .github/workflows/update-translations.yml
Labels: none

Test actions
  .github/workflows/build-app.yml
Labels: none

Test actions
  .github/workflows/build-app.yml
Labels: none

Test actions
  .github/workflows/build-app.yml
Labels: none

Test actions
  .github/workflows/build-app.yml
Labels: none

Test actions
  .github/workflows/build-app.yml
Labels: none

Fix text truncation, improved text scailing at saved cards (#327)
  chameleonultragui/lib/gui/component/saved_card.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/l10n/updateCrowdin.py
  chameleonultragui/lib/main.dart
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
Labels: none

Modify new card name
  chameleonultragui/lib/gui/menu/slot_export.dart
Labels: none

Recheck found keys on other sectors
  chameleonultragui/lib/gui/page/read_card.dart
Labels: none

Recheck found keys on other sectors (#331)
  chameleonultragui/lib/gui/page/read_card.dart
Labels: none

Slot export (#329)
  .github/workflows/build-app.yml
  .github/workflows/update-translations.yml
  chameleonultragui/lib/gui/component/card_list.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/dictionary_edit.dart
  chameleonultragui/lib/gui/menu/slot_export.dart
  chameleonultragui/lib/gui/menu/slot_settings.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_ru.arb
Labels: none

Remove check for now
  .github/workflows/build-app.yml
Labels: none

feat: Update translations (#332)
  chameleonultragui/lib/l10n/app_ru.arb
Labels: none

Remove check for now (#333)
  .github/workflows/build-app.yml
Labels: none

Slot edit
  README.md
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/component/slot_changer.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/card_view.dart
  chameleonultragui/lib/gui/menu/chameleon_settings.dart
  chameleonultragui/lib/gui/menu/slot_edit.dart
  chameleonultragui/lib/gui/menu/slot_export.dart
  chameleonultragui/lib/gui/menu/slot_settings.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/ntag/general.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes, documentation

Short name
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/slot_export.dart
  chameleonultragui/lib/gui/menu/slot_settings.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_de_AT.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

Fix device settings
  chameleonultragui/lib/gui/menu/chameleon_settings.dart
Labels: none

Reliable disconnect on hot reload
  chameleonultragui/lib/connector/serial_native.dart
  chameleonultragui/lib/main.dart
Labels: none

View slot info and editing (#334)
  README.md
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/connector/serial_native.dart
  chameleonultragui/lib/gui/component/slot_changer.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/card_view.dart
  chameleonultragui/lib/gui/menu/chameleon_settings.dart
  chameleonultragui/lib/gui/menu/slot_edit.dart
  chameleonultragui/lib/gui/menu/slot_export.dart
  chameleonultragui/lib/gui/menu/slot_settings.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/ntag/general.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/main.dart
Labels: translation changes, documentation

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_de_AT.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations (#338)
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_de_AT.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

fix: wrong name and extension
  chameleonultragui/lib/gui/menu/slot_export.dart
Labels: none

fix: wrong name and extension (#339)
  chameleonultragui/lib/gui/menu/slot_export.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ko.arb
Labels: none

fix: switch to elevated button clarifies interactability
  chameleonultragui/lib/gui/menu/slot_settings.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_es.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

feat: Update translations (#342)
  chameleonultragui/lib/l10n/app_es.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_pl.arb
Labels: none

fix: switch to elevated button (#341)
  chameleonultragui/lib/gui/menu/slot_settings.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_fr.arb
  chameleonultragui/lib/l10n/app_zh-TW.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_de_AT.arb
  chameleonultragui/lib/l10n/app_fr.arb
  chameleonultragui/lib/l10n/app_zh-TW.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_de_AT.arb
  chameleonultragui/lib/l10n/app_fr.arb
  chameleonultragui/lib/l10n/app_zh-TW.arb
Labels: none

Fix localization update
  chameleonultragui/lib/l10n/update.py
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_de_AT.arb
  chameleonultragui/lib/l10n/app_fr.arb
  chameleonultragui/lib/l10n/app_zh_TW.arb
Labels: none

feat: Update translations (#350)
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_de_AT.arb
  chameleonultragui/lib/l10n/app_fr.arb
  chameleonultragui/lib/l10n/app_zh_TW.arb
Labels: none

fix: Localization update workflow (#351)
  chameleonultragui/lib/l10n/update.py
Labels: none
