Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ru.arb
Labels: translation changes

feat: Update translations (#880)
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ru.arb
Labels: translation changes

fix: reorder translation params
  chameleonultragui/lib/gui/menu/tools/lf_sniffing.dart
Labels: none

fix: reorder translation params (#881)
  chameleonultragui/lib/gui/menu/tools/lf_sniffing.dart
Labels: none

feat: context-aware HF sniff frames annotation(#884)
  chameleonultragui/lib/gui/menu/tools/hf_sniffing.dart
  chameleonultragui/lib/helpers/hf_sniff.dart
  chameleonultragui/lib/helpers/hf_sniff_models.dart
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Potential fix for pull request finding
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Resolving Copilot PR review messages
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Resolving Copilot PR review message
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Apply suggestions from code review
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Resolving Copilot PR review messages
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Potential fix for pull request finding
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Resolving Copilot PR review msgs
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

format
  chameleonultragui/lib/helpers/hf_sniff.dart
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

fix GET_VERSION matching to include length
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Resoiving Copilot review msgs
  chameleonultragui/lib/helpers/hf_sniff.dart
  chameleonultragui/lib/helpers/hf_sniff_models.dart
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Apply suggestions from code review
  chameleonultragui/lib/gui/menu/tools/hf_sniffing.dart
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Resolving reveiw msgs
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

Apply suggestions from code review
  chameleonultragui/lib/helpers/hf_sniff_models.dart
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

resolve review msgs
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

format
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

i18n: extract hardcoded "QR Code" strings and complete French translations
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_fr.arb
Labels: translation changes

fix: added length guard
  chameleonultragui/lib/helpers/hf_sniff_stateful_parser.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations (#888)
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Compare dumps in dump editor
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/component/mifare/ultralight.dart
  chameleonultragui/lib/gui/menu/dialogs/card/view.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary/export.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary/view.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/export.dart
  chameleonultragui/lib/gui/menu/pages/dump_editor.dart
  chameleonultragui/lib/gui/menu/tools/hf_sniffing.dart
  chameleonultragui/lib/gui/menu/tools/lf_sniffing.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/helpers/flash.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/mifare_classic/write/gen2.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/protobuf/dfu-cc.pb.dart
  chameleonultragui/lib/protobuf/dfu-cc.pbenum.dart
  chameleonultragui/lib/protobuf/dfu-cc.pbjson.dart
  chameleonultragui/lib/protobuf/dfu-cc.pbserver.dart
  chameleonultragui/linux/flutter/generated_plugin_registrant.cc
  chameleonultragui/linux/flutter/generated_plugins.cmake
  chameleonultragui/macos/Flutter/GeneratedPluginRegistrant.swift
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
  chameleonultragui/src/recovery.c
  chameleonultragui/windows/flutter/generated_plugin_registrant.cc
  chameleonultragui/windows/flutter/generated_plugins.cmake
Labels: translation changes

fix: bump minimal iOS version to 14
  .github/workflows/publish-app.yml
  chameleonultragui/ios/Flutter/AppFrameworkInfo.plist
  chameleonultragui/ios/Podfile
  chameleonultragui/ios/Runner.xcodeproj/project.pbxproj
Labels: none

fix: run makensis without action
  .github/workflows/build-app.yml
Labels: none

fix: run makensis without action
  .github/workflows/build-app.yml
Labels: none

fix: fix nsis-installer.nsi
  nsis-installer.nsi
Labels: none

feat: compare dumps in dump editor + dump copy button (#890)
  .github/workflows/build-app.yml
  .github/workflows/publish-app.yml
  chameleonultragui/ios/Flutter/AppFrameworkInfo.plist
  chameleonultragui/ios/Podfile
  chameleonultragui/ios/Runner.xcodeproj/project.pbxproj
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/component/mifare/ultralight.dart
  chameleonultragui/lib/gui/menu/dialogs/card/view.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary/export.dart
  chameleonultragui/lib/gui/menu/dialogs/dictionary/view.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/export.dart
  chameleonultragui/lib/gui/menu/pages/dump_editor.dart
  chameleonultragui/lib/gui/menu/tools/hf_sniffing.dart
  chameleonultragui/lib/gui/menu/tools/lf_sniffing.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/helpers/flash.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/mifare_classic/write/gen2.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/protobuf/dfu-cc.pb.dart
  chameleonultragui/lib/protobuf/dfu-cc.pbenum.dart
  chameleonultragui/lib/protobuf/dfu-cc.pbjson.dart
  chameleonultragui/lib/protobuf/dfu-cc.pbserver.dart
  chameleonultragui/linux/flutter/generated_plugin_registrant.cc
  chameleonultragui/linux/flutter/generated_plugins.cmake
  chameleonultragui/macos/Flutter/GeneratedPluginRegistrant.swift
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
  chameleonultragui/src/recovery.c
  chameleonultragui/windows/flutter/generated_plugin_registrant.cc
  chameleonultragui/windows/flutter/generated_plugins.cmake
  nsis-installer.nsi
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_ru.arb
Labels: none

feat: Update translations (#891)
  chameleonultragui/lib/l10n/app_ru.arb
Labels: none

feat: Web, part 3
  chameleonultragui/lib/connector/serial_web.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/flashing.dart
  chameleonultragui/lib/main.dart
Labels: none

feat: Web, part 3
  chameleonultragui/pubspec.lock
Labels: none

feat: Web, part 4
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Update translations (#893)
  chameleonultragui/lib/l10n/app_bg.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: none

feat: Web, part 5
  chameleonultragui/hook/build.dart
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/helpers/definitions.dart
  chameleonultragui/lib/helpers/flash.dart
  chameleonultragui/lib/helpers/font.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/recovery/definitions.dart
  chameleonultragui/lib/recovery/recovery.dart
  chameleonultragui/lib/recovery/recovery_ffi.dart
  chameleonultragui/lib/recovery/recovery_web.dart
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
  chameleonultragui/rust/.cargo/config.toml
  chameleonultragui/rust/.gitignore
  chameleonultragui/rust/Cargo.toml
  chameleonultragui/rust/rust-toolchain.toml
  chameleonultragui/rust/src/lib.rs
  chameleonultragui/test/recovery_test.dart
  chameleonultragui/web/favicon.png
  chameleonultragui/web/icons/Icon-192.png
  chameleonultragui/web/icons/Icon-512.png
  chameleonultragui/web/icons/Icon-maskable-192.png
  chameleonultragui/web/icons/Icon-maskable-512.png
  chameleonultragui/web/index.html
  chameleonultragui/web/manifest.json
  chameleonultragui/web/recovery_worker.js
Labels: none

feat: ask before importing same card
  README.md
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/helpers/github.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/main.dart
  chameleonultragui/lib/sharedprefsprovider.dart
Labels: translation changes, documentation
