Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations (#894)
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

fix: build on non web platforms
  chameleonultragui/hook/build.dart
Labels: none

feat: Update translations (#896)
  chameleonultragui/lib/l10n/app_it.arb
Labels: none

fix: correctly export ev1 as bin when on read page
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/mifare_classic/general.dart
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
Labels: none

fix: add missing qrcode translation. fixes: #889
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

fix: correctly export ev1 as bin when on read page (#897)
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/mifare_classic/general.dart
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
Labels: none

fix: add missing qrcode translation. fixes: #889 (#898)
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

feat: Update translations (#899)
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

fix: scaling on read page
  chameleonultragui/lib/gui/component/mifare/classic.dart
Labels: none

fix: move buttons next to title on small screens
  chameleonultragui/lib/gui/page/saved_cards.dart
Labels: none

Scaling fixes (#900)
  chameleonultragui/lib/gui/component/mifare/classic.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
Labels: none

feat: press and hold followed by drag to bulk toggle sectors
  chameleonultragui/lib/gui/component/key_check_marks.dart
  chameleonultragui/test/key_check_marks_test.dart
Labels: none

feat: press and hold followed by drag to bulk toggle sectors (#901)
  chameleonultragui/lib/gui/component/key_check_marks.dart
  chameleonultragui/test/key_check_marks_test.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_bg.arb
Labels: none

feat: Update translations (#902)
  chameleonultragui/lib/l10n/app_bg.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: Update translations (#903)
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: Update translations (#904)
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: Update translations (#905)
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: CORS proxy via CF functions
  .github/workflows/build-app.yml
  .github/workflows/publish-app.yml
  README.md
  chameleonultragui/lib/connector/serial_abstract.dart
  chameleonultragui/lib/connector/serial_web.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/sharedprefsprovider.dart
  chameleonultragui/web/_headers
Labels: translation changes, documentation

feat: CORS proxy via CF functions
  functions/cors.js
Labels: none

fix: do not recheck already found keys in static nested
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
Labels: none

fix: windows build
  .github/workflows/build-app.yml
Labels: none

feat: use pm3 trace format instead of custom .bin
  chameleonultragui/lib/gui/menu/tools/hf_sniffing.dart
  chameleonultragui/lib/gui/menu/tools/lf_sniffing.dart
  chameleonultragui/lib/gui/page/tools.dart
  chameleonultragui/lib/helpers/hf_sniff.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/test/hf_sniff_test.dart
Labels: translation changes

fix: do not recheck already found keys in static nested (#907)
  .github/workflows/build-app.yml
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
Labels: none

feat: add missing methods
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/helpers/definitions.dart
Labels: none

feat: add dump editor in slot settings
  chameleonultragui/lib/gui/menu/dialogs/slot/export.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/settings.dart
  chameleonultragui/lib/helpers/slot_dump.dart
Labels: none

feat: Mifare Ultralight C support
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/component/mifare/ultralight.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/edit.dart
  chameleonultragui/lib/helpers/definitions.dart
  chameleonultragui/lib/helpers/mifare_ultralight/dump_highlighter.dart
  chameleonultragui/lib/helpers/mifare_ultralight/general.dart
  chameleonultragui/lib/helpers/mifare_ultralight/write/base.dart
  chameleonultragui/lib/helpers/write.dart
Labels: none

fix: simulate duration
  chameleonultragui/lib/helpers/hf_sniff.dart
Labels: none

Add Jablotron LF tag support (read, emulate, write to T55xx)
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/edit.dart
  chameleonultragui/lib/gui/menu/dialogs/slot/export.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/definitions.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/t55xx/write/base.dart
  chameleonultragui/lib/helpers/write.dart
  chameleonultragui/test/jablotron_test.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: none

feat: Update translations (#912)
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: none

ci: build and publish Linux arm64 artifacts
  .github/workflows/build-app.yml
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_fr.arb
Labels: none
