Repository GameTec-live/ChameleonUltraGUI, changes with the labels that .github/labeler.yml gives for each.
All labels: translation changes, documentation

feat: Update translations (#671)
  chameleonultragui/lib/l10n/app_de.arb
  chameleonultragui/lib/l10n/app_nl.arb
  chameleonultragui/lib/l10n/app_zh.arb
Labels: none

feat: 1.3 release (#666)
  .github/workflows/publish-app.yml
  README.md
  chameleonultragui/lib/helpers/mifare_ultralight/write/base.dart
  chameleonultragui/pubspec.yaml
  docs/README.md
Labels: documentation

fix: update bundle id
  chameleonultragui/flatpak/run.chameleon.gui.metainfo.xml
  chameleonultragui/flatpak/run.chameleon.gui.yml
Labels: none

fix: update bundle id and resources
  chameleonultragui/flatpak/run.chameleon.metainfo.xml
  chameleonultragui/flatpak/run.chameleon.yml
Labels: none

fix: added 512px icon
  chameleonultragui/debian/gui/chameleonultragui_512px.png
  chameleonultragui/flatpak/run.chameleon.yml
Labels: none

misc: initial version of flatpak packaging
  chameleonultragui/flatpak/io.chameleon.ultra.metainfo.xml
  chameleonultragui/flatpak/io.chameleon.ultra.yml
Labels: none

fix: update icon resource url
  chameleonultragui/flatpak/run.chameleon.gui.yml
Labels: none

feat: automatic github release checker
  chameleonultragui/flatpak/run.chameleon.gui.yml
Labels: none

misc: Initial version of flatpak packaging (#582)
  chameleonultragui/debian/gui/chameleonultragui_512px.png
  chameleonultragui/flatpak/run.chameleon.gui.metainfo.xml
  chameleonultragui/flatpak/run.chameleon.gui.yml
Labels: none

feat: Viking support
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/card_create.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/slot_edit.dart
  chameleonultragui/lib/gui/menu/slot_export.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/t55xx/write/base.dart
Labels: none

fix: Always use TagType.em410X for EM410X
  chameleonultragui/lib/gui/page/slot_manager.dart
Labels: none

fix: Always use TagType.em410X for EM410X (#675)
  chameleonultragui/lib/gui/page/slot_manager.dart
Labels: none

feat: Add licenses page
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Fetch changelog
  chameleonultragui/lib/gui/menu/changelog_view.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/helpers/github.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Add Help Translate button
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Add current version matching with build number
  chameleonultragui/lib/gui/menu/changelog_view.dart
  chameleonultragui/lib/helpers/github.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Continuous scan
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Continuous scan (#677)
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

fix: Fix recovery for static encrypted tags
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
Labels: none

Just to be 100% sure
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
Labels: none

fix: Fix recovery for static encrypted tags (#680)
  chameleonultragui/lib/helpers/mifare_classic/recovery.dart
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_en.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

feat: Update translations (#686)
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_ko.arb
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ko.arb
Labels: none

feat: Viking support (#674)
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/card_create.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/slot_edit.dart
  chameleonultragui/lib/gui/menu/slot_export.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/t55xx/write/base.dart
Labels: none

feat: Licenses in assets
  chameleonultragui/assets/licenses/BSD-3-Clause.md
  chameleonultragui/assets/licenses/GPL3.md
  chameleonultragui/assets/licenses/LGPL3.md
  chameleonultragui/assets/licenses/MIT.md
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/pubspec.yaml
Labels: documentation

fix: Workflow name
  chameleonultragui/lib/helpers/github.dart
Labels: none

feat: Android 16kb page size
  chameleonultragui/android/app/build.gradle
  chameleonultragui/android/gradle/wrapper/gradle-wrapper.properties
  chameleonultragui/android/settings.gradle
  chameleonultragui/pubspec.lock
Labels: none

feat: Changelog menu (#676)
  chameleonultragui/assets/licenses/BSD-3-Clause.md
  chameleonultragui/assets/licenses/GPL3.md
  chameleonultragui/assets/licenses/LGPL3.md
  chameleonultragui/assets/licenses/MIT.md
  chameleonultragui/lib/gui/menu/changelog_view.dart
  chameleonultragui/lib/gui/page/settings.dart
  chameleonultragui/lib/helpers/github.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/pubspec.yaml
Labels: translation changes, documentation

feat: Update translations (#688)
  chameleonultragui/lib/l10n/app_ko.arb
Labels: none

feat: Android 16kb page size (#690)
  chameleonultragui/android/app/build.gradle
  chameleonultragui/android/gradle/wrapper/gradle-wrapper.properties
  chameleonultragui/android/settings.gradle
  chameleonultragui/pubspec.lock
Labels: none

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

feat: Update translations
  chameleonultragui/lib/l10n/app_ca.arb
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/app_ko.arb
  chameleonultragui/lib/l10n/app_nl.arb
  chameleonultragui/lib/l10n/app_ru.arb
  chameleonultragui/lib/l10n/app_uk.arb
Labels: translation changes

fix: Mifare Ultralight writing
  chameleonultragui/lib/gui/component/mifare/ultralight.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/helpers/mifare_ultralight/write/base.dart
Labels: none

fix: UID lenght in card creation
  chameleonultragui/lib/gui/menu/card_create.dart
Labels: none

.github/labeler.yml:

translation changes: '**/*en.arb'
documentation: '**/*.md'
