Repository GameTec-live/ChameleonUltraGUI, pull requests merged in 2023-09, with the labels that each got.

#221 Add Documentation
  docs/.DS_Store
  docs/assets/connection_screen.png
  docs/assets/device_info.png
  docs/assets/device_settings.png
  docs/assets/read_card.JPG
  docs/assets/read_card_result.png
  docs/assets/settings_screen.png
  docs/assets/slots_screen.png
  docs/assets/slots_settings.png
  docs/index.md
Labels: documentation

#222 Fix documentation
  docs/.DS_Store
  docs/index.md
Labels: documentation

#226 Fixes and improvements
  .github/workflows/publish-app.yml
  README.md
  chameleonultragui/lib/bridge/dfu.dart
  chameleonultragui/lib/connector/serial_ble.dart
  chameleonultragui/lib/connector/serial_mobile.dart
  chameleonultragui/lib/connector/serial_native.dart
  chameleonultragui/lib/gui/menu/chameleon_settings.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/flashing.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/pending_connection.dart
  chameleonultragui/lib/helpers/flash.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/github.dart
  chameleonultragui/lib/l10n/README.md
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/l10n/updateCrowdin.py
  chameleonultragui/lib/main.dart
  chameleonultragui/lib/recovery/recovery.dart
  chameleonultragui/lib/sharedprefsprovider.dart
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
  chameleonultragui/untranslated_messages.json
  docs/index.md
Labels: documentation, translation changes

#228 Rename index.md to README.md
  docs/README.md
Labels: documentation

#229 Update README.md
  README.md
Labels: documentation

#241 Links modifications
  README.md
  chameleonultragui/lib/l10n/app_zh_Hans.arb
  docs/README.md
Labels: documentation

#235 iOS and other fixes
  .github/workflows/publish-app.yml
  README.md
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/page/connect.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/helpers/flash.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/helpers/github.dart
  chameleonultragui/lib/helpers/mifare_classic.dart
  chameleonultragui/lib/l10n/app_zh_Hans.arb
  docs/README.md
Labels: documentation

#251 Improve macOS/iOS workflows, add builds to TestFlight
  .github/workflows/publish-app.yml
  README.md
Labels: documentation

#257 Contributing guide
  CONTRIBUTING.md
Labels: documentation

#258 Create SECURITY.md
  SECURITY.md
Labels: documentation

#268 BLE pairing toggle
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/chameleon_settings.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/pubspec.lock
  chameleonultragui/pubspec.yaml
  chameleonultragui/untranslated_messages.json
Labels: translation changes

#276 Implement new protocol changes
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/menu/card_edit.dart
  chameleonultragui/lib/gui/menu/slot_settings.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/general.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/recovery/bindings.dart
  chameleonultragui/lib/recovery/recovery.dart
  chameleonultragui/lib/sharedprefsprovider.dart
  chameleonultragui/pubspec.lock
  chameleonultragui/src/recovery.c
  chameleonultragui/src/recovery.h
  chameleonultragui/untranslated_messages.json
Labels: translation changes

#282 Implement raw 14a command
  chameleonultragui/lib/bridge/chameleon.dart
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/untranslated_messages.json
Labels: translation changes

#292 Fix shadow LF reading, fix update handling, fix missing translation
  chameleonultragui/lib/gui/page/debug.dart
  chameleonultragui/lib/gui/page/home.dart
  chameleonultragui/lib/gui/page/read_card.dart
  chameleonultragui/lib/gui/page/saved_cards.dart
  chameleonultragui/lib/gui/page/slot_manager.dart
  chameleonultragui/lib/helpers/flash.dart
  chameleonultragui/lib/helpers/github.dart
  chameleonultragui/lib/helpers/mifare_classic/general.dart
  chameleonultragui/lib/l10n/app_en.arb
  chameleonultragui/lib/recovery/recovery.dart
  chameleonultragui/pubspec.lock
  chameleonultragui/untranslated_messages.json
Labels: translation changes
